.App {
  text-align: center;
  margin-top: 55px;
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CONTINUE ADDING MY OWN CSS BELOW */

.MyName {
  display: flex;
  justify-content: center;
}
input {
  color: "white";
  background-color: "white";
}

.BannerImage {
  width: 100%;
  border-radius: 0.5em;
}
.ProjectImage {
  width: 100%;
  border-radius: 0.5em;
}

.ProjectImage:hover {
  width: 100%;
  border-radius: 0.5em;

  transition: transform 0.7s;
  transform: scale(1.1);
  border-radius: 0.53em;
}

/* skillsBar */
.skillsBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100vw;
}
.skills {
  display: grid;
  width: 50%;
  /* center image */
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}
.MyName {
  padding-top: 5%;
  padding-bottom: 5%;
}

.MyStory {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}
.ButtonsToClick {
  padding-bottom: 10%;
}

/* Project Tiles Styling */
.tileContainer {
  margin-bottom: 10%;
  background-color: white;
  /* font-size: large; */
}
.portfolioTitle {
  padding-top: 10%;
  padding-bottom: 5%;
  color: black;
}
.portfolioDescription {
  color: black;
  padding-left: 10%;
  padding-right: 10%;
}
.tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  color: black;
  padding-left: 10%;
  padding-right: 10%;
}
@media screen and (max-width: 700px) {
  .tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media screen and (max-width: 600px) {
  .tiles {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
  }
}
.tile {
  display: grid;
  padding: 5%;
  width: 90%;
}
.tileImage {
  padding: 5%;
  margin-top: 10%;
  border-radius: 0.25em;
}

.tileButton {
  padding-top: 10%;
  padding-bottom: 10%;
}

/* Divided section */
.divider {
  background-color: #282c34;
}

/* First Project - Row */
.firstProject {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
  place-items: center;
}

.firstProjectDescription {
  padding-left: 5%;
  color: black;
}

/* About Me section */
.MyInterests {
  padding-left: 15%;
  padding-right: 15%;
}
.myInterestsDescriptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 5%;
}
@media screen and (max-width: 600px) {
  .myInterestsDescriptions {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 5%;
  }
}
.camera-picture {
  width: 50%;
  padding: 5%;
}
.photography {
  padding-left: 5%;
  padding-right: 2.5%;
}
.videography {
  padding-left: 2.5%;
  padding-right: 5%;
}

/* Form Styling */
.signUpForm {
  padding: 5%;
  margin: 5%;
  background-color: white;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 1fr;
}
.callToAction {
  padding-left: 10%;
  padding-right: 10%;
}
/* Footer Styling */
.footerBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50px;
}
